CC.AA:
<mat-form-field appearance="fill">
  <mat-label>Comunidad</mat-label>
  <mat-select>
    <mat-option *ngFor="let comunidad of comunidades" [value]="comunidad.value">
      {{comunidad.viewValue}}
    </mat-option>
  </mat-select>   
</mat-form-field> 
&nbsp;
<mat-form-field class="example--width">
  <mat-label>D Entregas</mat-label>
  <input matInput type="number" placeholder="">
</mat-form-field>
&nbsp;
<mat-form-field class="example--width">
  <mat-label>D Admin</mat-label>
  <input matInput  type="number"placeholder="">
</mat-form-field>
&nbsp;
<mat-form-field class="example--width">
  <mat-label>D Completa</mat-label>
  <input matInput type="number" placeholder="">
</mat-form-field>
&nbsp;
<mat-form-field class="example--width">
  <mat-label>P Entregadas</mat-label>
  <input matInput type="number" placeholder="">
</mat-form-field>
&nbsp;
<mat-form-field class="example--width">
  <mat-label>P Admin</mat-label>
  <input matInput type="number" placeholder="">
</mat-form-field>
&nbsp;
<mat-form-field class="example--width">
  <mat-label>P Completa</mat-label>
  <input matInput type="number" placeholder="">
</mat-form-field>
&nbsp;

<button mat-raised-button color="primary">Modificar Datos</button> 
<hr>
Resultado: Datos cargados desde la WEB
<hr>
<h1>Tabla de vacunación</h1>

<button mat-raised-button color="primary">Cargar Datos de vacunación (XMLHttpRequest)</button>&nbsp;<button mat-raised-button color="primary">Cargar datos vacunación (Fetch)</button> 

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="comunidad">
    <th mat-header-cell *matHeaderCellDef> Comunidad </th>
    <td mat-cell *matCellDef="let element"> {{element.comunidad}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="dEntregadas">
    <th mat-header-cell *matHeaderCellDef> D. Entregadas </th>
    <td mat-cell *matCellDef="let element"> {{element.dEntregadas}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="dAdmin">
    <th mat-header-cell *matHeaderCellDef> D. Admin </th>
    <td mat-cell *matCellDef="let element"> {{element.dAdmin}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="dCompleta">
    <th mat-header-cell *matHeaderCellDef> D. Completas </th>
    <td mat-cell *matCellDef="let element"> {{element.dCompleta}} </td>
  </ng-container>

  <ng-container matColumnDef="pEntregadas">
    <th mat-header-cell *matHeaderCellDef> P. Entregadas </th>
    <td mat-cell *matCellDef="let element"> {{element.pEntregadas}} </td>
  </ng-container>

  <ng-container matColumnDef="pPoblAdmin">
    <th mat-header-cell *matHeaderCellDef> P. PoblAdmin </th>
    <td mat-cell *matCellDef="let element"> {{element.pPoblAdmin}} </td>
  </ng-container>

  <ng-container matColumnDef="pPoblCompleta">
    <th mat-header-cell *matHeaderCellDef> P. PoblCompleta </th>
    <td mat-cell *matCellDef="let element"> {{element.pPoblCompleta}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>





